Repository surabayajs/surabayajs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{js,json,md}": ["prettier --write"],
  "scripts/**/*.js": ["prettier --write"],
  "src/**/*.css": ["prettier --write"],
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --write"]
}

feat: add todo examples for beginner reference
  src/pages/todos/[id].tsx
  src/pages/todos/index.tsx
  src/types/examples.d.ts
Due: prettier --write, eslint --cache --fix

feat: add keyboard shortcuts
  src/pages/_app.tsx
Due: prettier --write, eslint --cache --fix

feat: slice number of todos
  src/pages/todos/[id].tsx
  src/pages/todos/index.tsx
Due: prettier --write, eslint --cache --fix

fix: todo -> todos
  src/pages/todos/index.tsx
Due: prettier --write, eslint --cache --fix

chore: remove animations
  src/components/event-card/event-card.tsx
  src/components/sponsor-card/sponsor-card.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --cache --fix

faet(components): update footer component
  src/components/footer/footer.tsx
Due: prettier --write, eslint --cache --fix

feat(pages): code of conduct
  next.config.js
  package.json
  site-config.js
  src/coc/code-of-conduct.tsx
  src/coc/index.tsx
  src/coc/kode-etika.tsx
  src/i18n.tsx
  src/pages/coc.tsx
  src/routes.js
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat(coc): add title and SEO
  src/coc/code-of-conduct.tsx
  src/coc/kode-etika.tsx
  src/i18n.tsx
  src/pages/coc.tsx
Due: prettier --write, eslint --cache --fix

feat(deps): bump versions and add deps
  package.json
  yarn.lock
Due: prettier --write

feat(typescript): update d.ts files
  env.d.ts
  next-env.d.ts
Due: none

refactor(config): update eslint, lintstaged, nvmrc, prettier
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc.json
  .nvmrc
  .prettierrc.json
  tsconfig.json
Due: prettier --write

feat(config): add new src config files
  src/config/site.js
  src/config/sitemap.js
Due: prettier --write, eslint --cache --fix

chore: update package.json scripts
  package.json
Due: prettier --write

feat(next): enable experimental configs
  next.config.js
Due: prettier --write

refactor(next): use next.js based header and redirect config
  next.config.js
  vercel.json
Due: prettier --write

feat(next): use preact on production client
  next.config.js
Due: prettier --write

chore(config): update vscode settings
  .vscode/settings.json
Due: prettier --write

refactor(codegen): update config
  codegen.yml
  graphql.config.yml
Due: none

feat(graphql): add schema
  schema.graphql
Due: none

feat(lib): add cms
  src/lib/cms.ts
Due: prettier --write, eslint --cache --fix

feat(theme): update and remove css based selectors
  src/pages/_app.tsx
  src/stylesheets/html.css
  src/theme.ts
Due: prettier --write, eslint --cache --fix

feat(graphql): add fragments and queries
  src/graphql/client/events/queries.graphql
  src/graphql/client/fragments.graphql
  src/graphql/client/home/fragments.graphql
  src/graphql/client/home/queries.graphql
Due: none

chore(graphql): codegen
  src/generated/graphql.ts
Due: prettier --write, eslint --cache --fix

refactor: fix errors and use new cms client
  src/coc/index.tsx
  src/components/color-mode-button/color-mode-button.tsx
  src/components/drawer/drawer.tsx
  src/components/email-tooltip/email-tooltip.tsx
  src/components/event-card/event-card.tsx
  src/components/footer/footer.tsx
  src/components/locale-button/locale-button.tsx
  src/components/logo/horizontal-logo.tsx
  src/components/logo/vercel-logo.tsx
  src/components/navbar/index.ts
  src/components/navbar/navbar-desktop.tsx
  src/components/navbar/navbar-mobile.tsx
  src/components/sponsor-card/sponsor-card.tsx
  src/hooks/app.ts
  src/i18n.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/coc.tsx
  src/pages/events/index.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --cache --fix

chore(scripts): update favicons script
  scripts/generate-favicons.js
Due: prettier --write

chore(deps): bump chakra-ui-markdown-renderer
  package.json
  yarn.lock
Due: prettier --write

fix(types): remove type re-export
  src/components/event-card/event-card.tsx
  src/components/sponsor-card/sponsor-card.tsx
  src/lib/cms.ts
  src/pages/index.tsx
  src/types/index.d.ts
Due: prettier --write, eslint --cache --fix

chore: remove unused
  .github/CODEOWNERS
  next-sitemap.js
  site-config.js
  src/cms.js
  src/pages/empty.tsx
  src/pages/todos/[id].tsx
  src/pages/todos/index.tsx
  src/types/examples.d.ts
  vercel.json
Due: prettier --write, eslint --cache --fix

chore: bump license year
  LICENSE
Due: none

feat(pages): add page revalidate
  src/pages/events/index.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --cache --fix

chore(deps): remove unused
  package.json
  yarn.lock
Due: prettier --write

feat(page): remove page transition
  src/pages/_app.tsx
Due: prettier --write, eslint --cache --fix

feat: add surabayajs youtube account
  src/config/site.js
Due: prettier --write, eslint --cache --fix

feat: changes button group to grid
  src/pages/index.tsx
Due: prettier --write, eslint --cache --fix

chore(deps): bump versions and remove unused
  package.json
  yarn.lock
Due: prettier --write

Update i18n.tsx
  src/i18n.tsx
Due: prettier --write, eslint --cache --fix

feat: remove chakra-ui-markdown-renderer
  package.json
  yarn.lock
Due: prettier --write

feat: remove unused variable and add still on progress
  src/pages/coc.tsx
Due: prettier --write, eslint --cache --fix

feat: update settings.json
  .vscode/settings.json
Due: prettier --write
